/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

// html{
//   margin: 0px;
// }

html, body{
  text-align: center;
  height: 100%;
  background-color: rgb(229, 231, 231);
}
