.step{
  width: 100%;
  text-align: end;
  background-color: black;
  color: white;
  line-height: 50px;
  vertical-align: middle;
  color: rgb(151, 151, 151);
}

.step div{
  margin-right: 20px;
}

.active{
  color: white;
}

.step i{
  -webkit-text-stroke: 1px black;
  margin: 0 5px;
}





.form-create{
  width: 600px;
  margin: 50px auto;
}

div div h2{
  font-weight: bold;
}

div div h5{
  color: rgb(151, 151, 151);
}

form{
  text-align: left;
  margin-top: 50px;
}
.form-control{
  height: 50px;
}

.setup label{
  margin-top: 30px;
}

// .footer{
//   position: fixed;
//   bottom: 0;
//   width: 100%;
//   background-color: black;
//   color: white;
//   line-height: 50px;
// }

.footer input:first-child{
  background-color: rgb(85, 3, 3);
}

.btn{
  height: 40px;
  border: none;
  margin: auto;
  width: 150px;
}


// Content step
.draggable {
  width: 100px;
  height: 100px;
  padding: 0.5em;
  float: left;
  margin: 10px 10px 10px 0;
  background-color: rgb(191, 191, 194);
}

.droppable-image, .droppable-text {
  margin: 0 15px;
}

.droppable-image {
  height: 150px;
  background-color: rgb(191, 191, 194);
}

.droppable-text {
  height: 100%;
}

.column-content, .column-sidebar {
  float: left;
  // padding: 10px;
  height: 100%;
}

.column-content{
  width: 75%;
}

.column-sidebar{
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 40%;
  height: 100%;
  margin: auto;
  text-align: center;
  background-color: aliceblue;
}

.column-image-text{
  float: left;
  padding: 10px;
  width: 50%;
  height: 300px;
  position: relative;
}

h4{
  font-weight: bold;
  text-align: left;
}

.content-step .flex-container{
  display: flex;
}

.content-step .flex{
  width: 110px;
  height: 110px;
  margin: 20px;
}

// .lists {
//   height: 200px;
//   width: 300px;
//   border: 1px solid #000000;
// }

.content-step .flex i{
  line-height: 100px;
}

.content-step .flex p{
  margin-top: 5px;
}

.recipients header{
  font-size: 30px;
  font-weight: bold;
}

.recipients header p{
  margin-top: 20px;
  font-size: 14px;
  color: rgb(136, 135, 135);
}

.recipients .search-control button{
  width: 230px;
  margin-top: 20px
}

.recipients .search-control button i{
  -webkit-text-stroke: 0 white;
}

.recipients .mat-divider{
  margin-top: 100px;
}

.recipients .mat-form-field{
  margin-top: 30px;
}

.recipients .container{
  width: 80%;
  height: 100%;
  margin: auto;
  background-color: rgb(229, 231, 231);
}

.mat-table{
  background-color: rgb(229, 231, 231);
}

.mat-cell{
  font-size: 12px;
}

.mat-column-firstname, .mat-column-surename{
  flex: 0 0 20%;
}

.mat-column-email, .mat-column-mobile{
  flex: 0 0 30%;
}

.mat-column-firstname, .mat-column-surename, .mat-column-email, .mat-column-mobile{
  padding-left: 30px;
}

.mat-header-cell{
  padding-top: 20px;
  border-bottom-style: none;
}

.mat-cell{
  text-align: left;
  color: rgb(145, 145, 145);
  border-bottom-style: none;
}

.mat-cell input{
  border: none;
  padding: 10px;
  background: rgb(243, 243, 243);
  font-weight: bold;
}

.filter{
  margin-right: 20px;
  width: 300px;
}



// Schedule step
.schedule .header{
  font-size: 30px;
  font-weight: 700;
}

.schedule .header p{
  margin-top: 10px;
  font-size: 14px;
  color: rgb(136, 135, 135);
}

.schedule .container{
  width: 30%;
}

.schedule .content > p{
  text-align: left;
}

.schedule .content > p:first-child{
  font-weight: bold;
  margin-top: 30px;
  text-align: left;
}

.schedule .content > p:nth-child(2){
  color: rgb(136, 135, 135);
}

.schedule .flex-container{
  flex-direction: column;
  display: flex;
}

.schedule .flex{
  margin: 10px 0;
  // width: 100%;
  line-height: 40px;
  border: 2px solid rgb(187, 185, 185);
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
}

.schedule .default-schedule{
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.schedule .default-schedule i{
  margin-left: 20px;
}

.schedule .default-schedule label{
  margin-left: 10px;
}

.schedule .change-color-schedule{
  border-color: rgb(3, 171, 223);
  color: rgb(3, 171, 223);
}

.schedule .flex-container .flex input{
  box-sizing: border-box;
  margin: auto 27px 30px;
  display: inline-block;
  width: 90%;
  color: black;
}

.schedule .flex-container .flex table{
  margin: auto 27px 30px;
}

// Confirm step
.confirm .header{
  font-size: 30px;
  font-weight: 700;
}

.confirm .container{
  width: 60%;
}

.confirm .content label{
  font-size: 14px;
  font-weight: bold;
}

.confirm .content p{
  font-size: 14px;
  color: rgb(136, 135, 135);
}

.confirm .content > div{
  text-align: left;
}

