<div class="form-create">
  <!-- <div class="container"> -->
    <div>
      <h1>Create New User</h1>
      <h3>Specify the email address of the new user below. We'll send them an invite to activate their account.</h3>
    </div>
    <form>
      <div>
        <label>Email *</label>
        <input class="form-control">
      </div>

      <div>
        <label>Role *</label>
        <input class="form-control">
      </div>

      <input class="btn btn-info pull-right" type="submit" routerLink="/user-list" value="Submit">
    </form>
  <!-- </div> -->
</div>
