.background{
  background-color: rgb(229, 231, 231);
}

.container{
  width: 60%;
  position: relative;
}

.title{
  margin: 25px;
  font-size: 30px;
}

.title span{
  position: absolute;
  padding: 5px;
  margin-top: -5px;
  right: 0;
  border-radius: 100px;
  width: 50px;
  background-color: rgb(9, 204, 9);
  cursor: pointer;
}

.title span:hover{
  opacity: 0.7;
}
